//color palette

//grey tonality
$title-color: #65666F;
$text-color: #8b8b8d;
$description-color: #B6BDC7;

//green tonality
$light-green: #69C7AF;
$dark-green: #4eafa2;

//blue tonality
$light-blue: #88b4e7;
$dark-blue: #71a8e7;