.nav-bar-container {
    display: flex;
    padding: 2px 25px;
    background-color: #fff;
    box-shadow: 2px 2px 2px #f7f7f8;

    .title-img-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30px;
            margin-right: 25px;
        }

        p {
            font-size: 18px;
            padding: 20px 0px;
            color: #69686e;
            margin-left: 10px;

            @media screen and (max-width: 500px) {
                display: none;
            }
        }
    }

    .links-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;

        .link {
            font-size: 16px;
            color: #7A7981;
            opacity: 0.75;
            text-decoration: none;
            padding: 20px 0px;
            display: inline-block;
            position: relative;

            &:hover {
                opacity: 1;
                color: #6697D2;
            }

            &::before {
                transition: 300ms;
                height: 2px;
                content: "";
                position: absolute;
                background-color: #6697D2;
            }

            &::before {
                width: 0%;
                bottom: -4px;
            }
              
            &:hover::before {
                width: 100%;
            }

            @media screen and (max-width: 400px) {
                font-size: 15px;
            }
              
              
        }

        @media screen and (max-width: 500px) {
            flex: 2.5;
        }
    }

}
