@import '_variables.scss';


.post-page-container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .link {
        text-decoration: none;
        color: $title-color;
    }

    .title {
        color: $title-color;
    }

    .post-info {
        width: 60%;
        margin-top: 50px;
        display: flex;
        align-items: center;

        .author {
            margin-right: 50px;
            display: flex;
            align-items: center;

            img {
                width: 40px;
                margin-right: 15px;
            }
        }

        .category {
            padding: 3px 20px;
            color: #fff;
            background-color: #6697D2;
            border-radius: 12px;
        }
        
        @media screen and (max-width: 800px) {
            width: 80%;
        }
    }

    .content {
        width: 60%;
        margin-top: 50px;

        p {
            color: #858383;
            line-height: 25px;
        }

        @media screen and (max-width: 800px) {
            width: 80%;
        }
    }

    .buttons-box {
        margin-top: 60px;
        display: flex;
        align-items: center;


        button {
            padding: 15px 20px;
            font-size: 17px;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            outline: none;
        }

        .btn-update {
            margin-right: 25px;
            background-color: $light-green;
            &:hover {
                background-color: $dark-green;
            }
        }

        .btn-delete {
            background-color: $light-blue;
            &:hover {
                background-color: $dark-blue;
            }
        }
    }

    .separator {
        margin-top: 100px;
    }
}